# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Django
db.sqlite3
.env
*.log
*.pot
*.pyc

# Virtualenv
venv/
ENV/
env/
.venv/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db
start.bat
migrate.bat
updatedb.bat
dump_vint.sql
